<md-toolbar color="primary">
  <span>{{ title }}</span>

  <span class="flex"></span>
    <img *ngIf="displayName" class="avatar" src="{{ photoURL }}">
    <span *ngIf="displayName" class="display-name">{{ displayName }}</span>

    <button *ngIf="displayName" md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item (click)="logout()">Sign Out</button>
    </md-menu>

  <div *ngIf="!displayName">
    <span style="cursor: pointer;" (click)="login()">Login</span>
  </div>
</md-toolbar>

<div class="content">
  <div class="need-login" *ngIf="!displayName">
    <span>Wait what? You need to click login.</span>
  </div>
  <router-outlet></router-outlet>
</div>